<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>Projekt #2</title>
    </head>

    <body>
        <form action="/restart" method="post">
            <button type="submit">Restart</button>
        </form>
        
    <form action="/add" method="post">
        <label>Article <input type="text" name="article"></label>
        <label>Description <input type="text" name="description"></label>
        <label>Category 
            <select name="category">
                <option value="rods">Rods</option>
                <option value="Storage">Storage</option>
                <option value="Line">Line</option>
                <option value="Bait">Bait</option>
            </select>
        </label>
        <input type="submit" value="Add new product">
     </form>

        <h1><%=@a%> + <%=@b%> = <%=@a + @b%></h1>

        <h1>~Brutal ANIMALS~</h1>

        <div class="product-grid">
        <ul>
            
        </ul>
        </div>

        <h1>Secret Layer of things 1</h1>
        <div class="product-grid">
          <div class="product-card">
            <h3><%= @product['article'] %></h3>
            <h4><%= @product['description'] %></h4>
            <h6><%= @product['category'] %></h6>
          </div>
        </div>

        <h1>Secret Layer of things 2</h1>
        <div class="product-grid">
            <% @products.each do |prod| %>
                <div class="product-card">
                    <h3><%= prod['article'] %></h3>
                    <h4><%= prod['description'] %></h4>
                    <h6><%= prod['category'] %></h6>
                </div>
            <% end %>
        </div>

    </body>
</html>
